/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
	padding-top: 50px;
	background-color: #f5f5f5;
}

footer {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fff;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}
	.row-offcanvas-left
  .sidebar-offcanvas {
		left: -33%;
	}
	.row-offcanvas-left.active {
		left: 33%;
	}
	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 33%;
		margin-left: 10px;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	background-color: #f5f5f5;
	margin-right: -15px;
	margin-bottom: 20px;
	margin-left: -15px;
}

.nav-sidebar>li>a {
	padding-right: 20px;
	padding-left: 20px;
}

.nav-sidebar>.active>a {
	color: #fff;
	background-color: #428bca;
}

/*
 * Main content
 */
.main {
	padding: 20px;
	background-color: #fff;
}

@media ( min-width : 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}

.main .page-header {
	margin-top: 0;
}

.wrapper {
    margin-top: 6%;
}

.form-signin {
    width: 30%;
    padding: 15px 35px 25px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-uploading{
    width: 65%;
    padding: 15px 35px 25px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading{
    text-align: center;
    margin-bottom: 20px;
}

.row-margin{
    margin-bottom: 1%;
}

.inputHeight{
    height: 26px;
    font-size: 12px;
}


@media only screen and (max-width: 950px) {
	.form-signin {
		width: 50%;
		padding: 15px 35px 25px;
		margin: 0 auto;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
}

@media only screen and (max-width: 400px) {
	.form-signin {
		width: 80%;
		padding: 15px 35px 25px;
		margin: 0 auto;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
}




