<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Reset Password</title>
<link href="../public/common/css/jQuery.css" rel="stylesheet"
	type="text/css" />

<script src="../public/common/angularjs/angular.min.js"></script>
<script src="../public/common/jquery/jquery.min.js"></script>
<script src="../public/common/js/bootstrap.min.js"></script>
<link href="../public/common/css/bootstrap.css" rel="stylesheet"
	type="text/css" />

<script src="../public/common/js/changePassword.js"
	type="text/javascript"></script>

</head>
<body ng-app="cPassword" ng-controller="changePasswordCtrl">

	<img ng-if="loading" src="common/img/ajax_loader.gif"
		style="z-index: 9999; width: 10%; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);"
		alt="" />

	<div id="pwdModal" class="" tabindex="-1" role="dialog" ng-if="onLoad"
		style="margin-top: 10%;" aria-hidden="false">
		<div class="modal-dialog">
			<div class="">
				<div class="modal-header" style="border-bottom: none;">
					<img src="common/img/aibs-logo.png" class="center-block"
						style="height: 100px">
					<!-- <img src="common/img/logo.png" class="center-block"> -->
					<h1 style="text-align: center;">Reset password</h1>
				</div>
				<div class="modal-body">

					<div class="text-center" style="padding-bottom: 10px;">
						<p>{{msg}}</p>
					</div>

					<div class="text-center">
						<a href="index.html">click here to login</a>
					</div>


				</div>

			</div>
		</div>
	</div>

</body>
</html>