
.wrapper {
    margin-top: 6%;
}

.form-signin {
    width: 30%;
    padding: 15px 35px 25px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-uploading{
    width: 65%;
    padding: 15px 35px 25px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading{
    text-align: center;
    margin-bottom: 20px;
}

.row-margin{
    margin-bottom: 1%;
}

.inputHeight{
    height: 26px;
    font-size: 12px;
}


@media only screen and (max-width: 950px) {
	.form-signin {
		width: 50%;
		padding: 15px 35px 25px;
		margin: 0 auto;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
}

@media only screen and (max-width: 400px) {
	.form-signin {
		width: 80%;
		padding: 15px 35px 25px;
		margin: 0 auto;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
}




