<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>

<link href="../public/common/css/jQuery.css" rel="stylesheet"
	type="text/css" />

<script src="../public/common/angularjs/angular.min.js"></script>
<script src="../public/common/jquery/jquery.min.js"></script>
<script src="../public/common/js/bootstrap.min.js"></script>
<link href="../public/common/css/bootstrap.css" rel="stylesheet"
	type="text/css" />
<script src="../public/common/angularjs/angular-messages.js"></script>

<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
<script
	src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>

<link rel="stylesheet" href="css/style.css">
<link rel="shortcut icon" href="../public/common/img/tabLogo.png">
<script src="js/tenderDetails.js" type="text/javascript"></script>
<script>
	function maxLengthCheck(object) {
		if (object.value.length > object.maxLength)
			object.value = object.value.slice(0, object.maxLength);
	}
</script>
</head>
<body ng-app="ttDetails" ng-controller="tenderDetailsController">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#nave">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Project name</a>
			</div>
			<div class="collapse" id="nave">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="opManagerHomePage.html">Dashboard</a></li>
					<li><a href="">Profile</a></li>
					<li><a href="">Notification</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">

		<div class="row row-offcanvas row-offcanvas-left">

			<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar"
				role="navigation">

				<ul class="nav nav-sidebar">
					<li><a href="opManagerHomePage.html">Dashboard</a></li>
					<li><a href="">Profile</a></li>
					<li><a href="">Notification</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
				<ul class="nav nav-sidebar">
					<li><a href="">Nav item</a></li>
					<li><a href="">Nav item again</a></li>
					<li><a href="">One more nav</a></li>
					<li><a href="">Another nav item</a></li>
				</ul>
				<ul class="nav nav-sidebar">
					<li><a href="">Nav item again</a></li>
					<li><a href="">One more nav</a></li>
					<li><a href="">Another nav item</a></li>
				</ul>

			</div>
			<!--/span-->

			<div class="wrapper">
				<form class="form-signin" ng-submit="createProject()" name="form"
					style="border-radius: 10px;">

					<h2 class="form-signin-heading">Tender Details</h2>

					<div class="row-margin">

						<div class="col-sm-6">
							<span>Tender ID</span> <input class="form-control inputHeight"
								type="text" style="float: right; width: 50%;" id="tenderId"
								name="tenderId" ng-model="tt.tenderId"   ng-readonly="true"></input>
						</div>

						<div class="col-sm-6">
							<span>Tender Reference Number</span> <input
								id="tenderReferenceNo" name="tenderReferenceNo"
								class="form-control inputHeight" type="text"
								style="float: right; width: 50%;"
								ng-model="tt.tenderReferenceNo"    ng-readonly="true"></input>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-12" style="margin-top: 10px;">
							<span>Organisation Chain</span>
							<textarea class="form-control inputHeight" id="organisationChain"
								name="organisationChain"
								style="float: right; resize: none; width: 75.7%;" rows="2"
								cols="22" ng-model="tt.organisationChain"  ng-readonly="true"></textarea>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-6" style="margin-top: 10px;">
							<span>Location / District</span> <input
								class="form-control inputHeight" type="text"
								style="float: right; width: 50%;" id="locationDistrict"
								name="locationDistrict" ng-model="tt.locationDistrict"  ng-readonly="true"></input>
						</div>

						<div class="col-sm-6" style="margin-top: 10px;">
							<span>State</span> <input class="form-control inputHeight"
								type="text" style="float: right; width: 50%;" id="state"
								name="state" ng-model="tt.state"  ng-readonly="true"></input>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-12" style="margin-top: 10px;">
							<span>Project Description</span>
							<textarea class="form-control inputHeight"
								id="projectDesccription" name="projectDesccription"
								style="float: right; resize: none; width: 75.7%;" rows="3"
								cols="22" ng-model="tt.projectDesccription"  ng-readonly="true"></textarea>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-6" style="margin-top: 10px;">
							<span>PreBid Meeting Date</span> <input
								class="form-control inputHeight" type="text"
								style="float: right; width: 50%;" id="preBidMeetingDate"
								name="preBidMeetingDate" ng-model="tt.preBidMeetingDate"  ng-readonly="true"></input>
						</div>

						<div class="col-sm-6" style="margin-top: 10px;">
							<span>PreBid Meeting Time</span> <input
								class="form-control inputHeight" type="text"
								style="float: right; width: 50%;" id="preBidMeetingTime"
								name="preBidMeetingTime" ng-model="tt.preBidMeetingTime"  ng-readonly="true"></input>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-6" style="margin-top: 10px;">
							<span>Tender Submission End Date</span> <input
								class="form-control inputHeight" type="text"
								style="float: right; width: 50%;" id="tenderSubmissionEndDate"
								name="tenderSubmissionEndDate"
								ng-model="tt.tenderSubmissionEndDate"  ng-readonly="true"></input>
						</div>

						<div class="col-sm-6" style="margin-top: 10px;">
							<span>Tender Submission End Time</span> <input
								class="form-control inputHeight" type="text"
								style="float: right; width: 50%;" id="tenderSubmissionEndTime"
								name="tenderSubmissionEndTime"
								ng-model="tt.tenderSubmissionEndTime"  ng-readonly="true"></input>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-6" style="margin-top: 10px;">
							<span>Tender Opening Date</span> <input
								class="form-control inputHeight" type="text"
								style="float: right; width: 50%;" id="tenderOpeningDate"
								name="tenderOpeningDate" ng-model="tt.tenderOpeningDate"  ng-readonly="true"></input>
						</div>

						<div class="col-sm-6" style="margin-top: 10px;">
							<span>Tender Opening Time</span> <input
								class="form-control inputHeight" type="text"
								style="float: right; width: 50%;" id="tenderOpeningTime"
								name="tenderOpeningTime" ng-model="tt.tenderOpeningTime"  ng-readonly="true"></input>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-6" style="margin-top: 10px;">
							<span>EMD</span> <input class="form-control inputHeight"
								type="number" style="float: right; width: 50%;" id="emd"
								name="emd" ng-model="tt.emd"  ng-readonly="true"></input>
						</div>

						<div class="col-sm-6" style="margin-top: 10px;">
							<span>Tender Fee</span> <input class="form-control inputHeight"
								type="number" style="float: right; width: 50%;" id="tenderFee"
								name="tenderFee" ng-model="tt.tenderFee"  ng-readonly="true"></input>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-6" style="margin-top: 10px;">
							<span>Estimated Tender Value</span> <input
								class="form-control inputHeight" type="number"
								style="float: right; width: 50%;" id="estimatedTenderValue"
								name="estimatedTenderValue" ng-model="tt.estimatedTenderValue"  ng-readonly="true"></input>
						</div>
						<div class="col-sm-6" style="margin-top: 10px;">
							<span>BG / DD / SC</span> <input class="form-control inputHeight"
								type="number" style="float: right; width: 50%;" id="BG_DD_SC"
								name="BG_DD_SC" ng-model="tt.BG_DD_SC" ng-readonly="true"></input>
						</div>

						<div class="col-sm-6" style="margin-top: 10px;">
							<span>Quantity</span> <input class="form-control inputHeight"
								type="number" style="float: right; width: 50%;" id="quantity"
								name="quantity" ng-model="tt.quantity"  ng-readonly="true"></input>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-6" style="margin-top: 10px;">
							<span>Project Duration</span> <input
								class="form-control inputHeight" type="text"
								style="float: right; width: 50%;" id="projectDuration"
								name="projectDuration" ng-model="tt.projectDuration"  ng-readonly="true"></input>
						</div>
						<div class="col-sm-6" style="margin-top: 10px;">
							<span>Website</span> <input class="form-control inputHeight"
								type="url" style="float: right; width: 50%;" id="webSite"
								name="webSite" ng-model="tt.webSite"  ng-readonly="true"></input>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-12" style="margin-top: 10px;">
							<span>Scope of Work</span>
							<textarea class="form-control inputHeight"
								style="float: right; width: 75.7%; resize: none;"
								id="scopOfWork" rows="2" cols="22" name="scopOfWork"
								ng-model="tt.scopOfWork"  ng-readonly="true"></textarea>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-6" style="margin-top: 10px;">
							<span>Contact Person's Name</span> <input
								class="form-control inputHeight" type="text"
								style="float: right; width: 50%;" id="contactPersonName"
								name="contactPersonName" ng-model="tt.contactPersonName"  ng-readonly="true"></input>
						</div>
						<div class="col-sm-6" style="margin-top: 10px;">
							<span>Email</span> <input class="form-control inputHeight"
								type="email" style="float: right; width: 50%;" id="email"
								name="email" ng-model="tt.email"  ng-readonly="true"></input>
						</div>

					</div>

					<div class="row-margin">

						<div class="col-sm-6" style="margin-top: 10px;">
							<span>Contact Number</span> <input
								class="form-control inputHeight" type="number"
								style="float: right; width: 50%;" id="contactNo"
								name="contactNo" ng-model="tt.contactNo" ng-readonly="true"></input>
							
						</div>

						<div class="col-sm-6 form-inline" style="margin-top: 10px;">
							<span>Is Mascon Eligible to Bid?</span>

							<div class="btn-group" style="float: right;">
								<label class="btn btn-default"
									ng-model="tt.isMasconEligibleToBid" uib-btn-radio="'Yes'">Yes</label>
								<label class="btn btn-default"
									ng-model="tt.isMasconEligibleToBid" uib-btn-radio="'No'">No</label>
							</div>

							<!-- 
							<select class="form-control inputHeight"
								id="isMasconEligibleToBid" style="float: right;"
								ng-model='tt.isMasconEligibleToBid' name="isMasconEligibleToBid"
								ng-options='availableTag for availableTag in isMasconEligibleToBidArry'></select> -->


						</div>
					</div>

					<div class="row-margin">

						<div class="col-sm-12" style="margin-top: 10px;">
							<span>Requirement from Client</span>
							<textarea class="form-control inputHeight"
								style="float: right; width: 75.7%; resize: none;"
								id="requirmentFromClient" name="requirmentFromClient"
								ng-model="tt.requirmentFromClient"  ng-readonly="true"></textarea>
						</div>

						<div class="col-sm-12" style="margin-top: 10px;">
							<span>Requirement from Mascon</span>
							<textarea class="form-control inputHeight" row=2 col=22
								style="float: right; width: 75.7%; resize: none;"
								id="requirmentFromMascon" name="requirmentFromMascon"
								ng-model="tt.requirmentFromMascon"  ng-readonly="true"></textarea>
						</div>

					</div>

					<div class="row row-margin">

						<div class="col-sm-12"></div>
						<div class="col-sm-3"></div>
						<div class="col-sm-2"></div>
						<div class="col-sm-4" style="margin-top: 10px;">
							<button class="btn btn-danger" style="background-color: red;"
								type="submit">Create Project</button>
								<!-- <a href="createProject.html" class="btn btn-danger">create project demo</a> --> 
						</div>
						<div class="col-sm-3"></div>
					</div>


				</form>
			</div>

			<!--/row-->
		</div>
	</div>
	<!--/.container-->

	<footer>
		<p class="pull-right">Copyrightę2016 AibsInc</p>
	</footer>

</body>
</html>