<!DOCTYPE html>
<html lang="en-US">
<head>
<title>TODO supply a title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="../common/angularjs/angular.min.js"></script>
<link href="../common/css/bootstrap.css" rel="stylesheet"
	type="text/css" />
<link rel="stylesheet" href="css/style.css">
<link rel="shortcut icon" href="../common/img/tabLogo.png">
<script src="js/register.js" type="text/javascript"></script>
<script>
	function maxLengthCheck(object) {
		if (object.value.length > object.maxLength)
			object.value = object.value.slice(0, object.maxLength);
	}
</script>
</head>
<body ng-app="register" class="body" ng-controller="registerCtrl">

	<img ng-if="loading" src="../common/img/ajax_loader.gif"
		style="z-index: 9999; width: 10%; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);"
		alt="" />

	<div class="wrapper">
		<form class="form-signin" ng-submit="adminRegister()" name="form"
			style="border-radius: 10px;">
			<h2 class="form-signin-heading">Admin Registration</h2>


			<div class="row row-margin">
				<div class="col-sm-12">
					<span>Full Name</span> <input type="text" name="fullname"
						class="form-control inputHeight" ng-model="am.fullName"
						ng-pattern="/^(\D)+$/" ng-readonly="checked" required>
					<p style="color: red;" ng-show="form.fullname.$error.pattern">Text
						only</p>
				</div>

			</div>

			<div class="row row-margin">
				<div class="col-sm-12">
					<span>Mobile No</span> <input type="number" name="number"
						ng-minlength="10" class="form-control inputHeight"
						ng-model="am.mobNo" ng-readonly="checked" required maxlength="10"
						positive-integer oninput="maxLengthCheck(this)">
					<p style="color: red; margin-top: 5px;"
						ng-if="form.number.$error.minlength">Enter Valid Mobile No</p>
				</div>

			</div>

			<div class="row row-margin">

				<div class="col-sm-12">
					<span>Email Id</span> <input type="email" name="email" id="email"
						class="form-control inputHeight" ng-model="am.email"
						ng-readonly="checked" required email-validate>
					<p style="color: red; margin-top: 5px;" ng-if="invalidEmail">Not
						a valid e-mail address</p>
				</div>

			</div>

			<div class="row row-margin">


				<div class="col-sm-12">
					<button class="btn  btn-block" ng-disabled="checked"
						style="background-color: red; margin-top: 3%; color: white;"
						type="submit">Create Your Account</button>
				</div>

			</div>



		</form>
	</div>


</body>
</html>





